@import './modules/_sprite';


h1{
  color: #0cea77;
}

.sprite-test{
  @include retina-sprite($github-group);
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

