@import "normalize.css/normalize";
@import "./modules/_sprite";

:root {
  --linkColour: purple;
}

h1 {
  color: var(--linkColour);
}

body {
  color: #fafafa;
  background: resolve("background.jpg") no-repeat 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  text: #fff bold center 1.25em 1.4 0.05em;
  &__nest {
    position: absolute 10px 10px;
    color: color(red alpha(-10%));
    font-size: 20px;
  }
  & .item {
    display: flex;
    flex-flow: row wrap;
    size: 48px;
  }
}

